@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Space Grotesk", sans-serif; /* Using a bold tech-serif/grotesk for the theme */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-neutral-950 antialiased text-white selection:bg-amber-500 selection:text-black;
  }

  /* Custom Gold Scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f59e0b;
    border-radius: 0px;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}
